h1 {
  margin: 0;
}
body,
.App,
#root {
  min-height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: azure;
  padding: 0.5rem;
}

.header .earthIcon {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: azure;
  margin-top: auto;
}

.footer a {
  position: relative;
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.emptyDiv {
  border: 0.11px gray solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.exampleDiv {
  width: max-content;
}

.buttonContainer button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.buttonContainer span {
  margin: 0 0.5rem;
}

.previewBtn {
  border: 2px black solid;
  border-right: 0;
}

.workingBtn {
  border: 2px black solid;
  border-left: 0;
}

.exampleBtn {
  border: 2px black solid;
  border-right: 0;
}

.previewMiddle {
  border-left: 0;
}

.cardContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.card {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  justify-content: center;
}

.travelInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 60%;
}

.imgDiv img {
  width: 125px;
  height: 168px;
  border-radius: 6px;
}

.card input[type="file"] {
  height: 100%;
}

.card .inputFileBackground {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 168px;
  border-radius: 6px;
}

#country {
  width: 40px;
  height: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2b283a;
}

#title {
  font-size: xx-large;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: 0.5rem;
  color: #2b283a;
}

#date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  margin-top: 1rem;
  color: #2b283a;
}

#desc {
  margin-top: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* or 15px */
  font-size: 0.9rem;
  color: #2b283a;
  margin-right: 1rem;
}

.addForm {
  border: 2px solid black;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.set {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.addForm input {
  font-size: 15px;
  padding: 0.5rem;
  border-radius: 6px;
  border: 0.1px gray solid;
  margin-top: 0.5rem;
}

.addForm input:focus {
  border: 0.1px turquoise solid;
  outline: 2px cornflowerblue solid;
  transform: scale(1.02);
}

label {
  width: max-content;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.row .countryDiv {
  width: 40%;
}
.row .googleDiv,
.startDiv,
.endDiv {
  width: 100%;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}
.buttonDiv button {
  width: 100%;
  font-weight: 700;
  border-radius: 8px;
  background-color: rgb(193, 239, 255);
  padding: 0.5rem 0.5rem;
  border: 0.1px gray solid;
}

.addBtn:active {
  box-shadow: cornflowerblue 0px 2px 4px;
}

.clearBtn:active {
  box-shadow: darkred 0px 2px 4px;
}

button:hover,
label:hover {
  cursor: pointer;
}

#active {
  background-color: rgb(193, 239, 255);
}

.displayNone {
  display: none;
}
