body {
  min-height: 100vh;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: azure;
  padding: 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: azure;
}

.footer a {
  position: relative;
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previewBtn,
.workingBtn {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.previewBtn {
  border-right: 0;
}

.workingBtn {
  border-left: 0;
}

.cardContainer {
  width: 80%;
}

.card {
  display: flex;
  flex-direction: row;
}

.travelInfo {
  display: flex;
  flex-direction: column;
}

.imgDiv img {
  width: 125px;
  height: 168px;
  border-radius: 6px;
}

#country {
  width: 40px;
  height: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2b283a;
}

#title {
  width: 326px;
  height: 40px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 30px;

  color: #2b283a;
}

#date {
  width: 319px;
  height: 11px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 12px;

  color: #2b283a;
}

#desc {
  width: 80%;
  height: 45px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* or 15px */

  color: #2b283a;
}
